/* change this to vw and make it scale better */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    /* background-image: url("../bg.jpg"); */
    /* background-size: cover; */
}

.playerName,
.waitingForPlayers {
    text-align: center;
    margin: 0 auto;
    margin-top: 20%;
    font-size: 20px;
    animation: bounceInDown 1s ease-in-out;
}

.waitingForPlayers {
    animation: fadeIn 1.2s ease-in-out;
}

.playerName input {
    outline: none;
    height: 40px;
    box-sizing: border-box;
    width: 250px;
    background-color: #ecf0f1;
    border: 2px #3498db solid;
    border-radius: 8px;
    padding: 8px;
}

#Canvas {
    padding-top: 7vh;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    width: 500px;
    height: 500px;
}

#startGameDialogue,
#endGameDialogue {
    font-size: 30px;
    animation: bounceIn 1s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 420px;
    height: 420px;
    margin-top: 80px;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 10%;
    font-weight: lighter;
}

#startGameDialogue button,
#endGameDialogue button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
    font-size: 18px;
    cursor: pointer;
    background-color: white;
    border: none;
    outline: none;
    height: 40px;
    width: 200px;
    display: block;
    margin: 14px auto;
    border-radius: 12px;
    transition: all 0.4s ease-in-out;
    color: #0c2461;
}

#startGameDialogue button:hover,
#endGameDialogue button:hover {
    color: #ecf0f1;
    background-color: #0c2461;
}

#Canvas .box {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 40%;
    height: 40%;
}

#Canvas .path {
    box-sizing: border-box;
    width: 20%;
    height: 40%;
}

#Canvas .path.horizontal {
    width: 40% !important;
    height: 20% !important;
}

#Canvas .innerHome {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 20%;
    width: 20%;
    background-color: #ecf0f1;
}

.innerHome div {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    height: 20%;
    margin: 0 auto;
}

.innerHome .mid {
    display: flex;
    flex-direction: row;
    height: 60%;
    width: 100%;
}

.innerHome .mid div {
    height: 100%;
    width: 20%;
    flex-direction: column;

}

.innerHome .mid div:nth-child(2) {
    width: 60%;
}

#Canvas .home {
    border: 1.5px black solid;
    position: relative;
    box-sizing: border-box;
    padding: 16%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 90%;
    border-radius: 50%;
    flex-wrap: wrap;
}

#Canvas .red {
    background-color: #e74c3c !important;
}

#Canvas .green {
    background-color: #2ecc71 !important;
}

#Canvas .blue {
    background-color: #3498db !important;
}

#Canvas .yellow {
    background-color: #eabd43 !important;
}

#Canvas .finalPath {
    background-color: #f8e2a5 !important;
}

#Canvas .home .inner_space {
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 40%;
    width: 40%;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #ecf0f1
}

#Canvas .path {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


#Canvas .path article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

#Canvas .path.vertical article {
    width: 100%;
    height: 16.66666666%;
    flex-direction: row;
}

#Canvas .path.horizontal article {
    height: 100%;
    width: 16.66666666%;
}

#Canvas .path div {
    position: relative;
    display: flex;
    cursor: pointer;
    justify-content: space-around;
    border: 0.1px solid black;
    background-color: #ecf0f1;
    box-sizing: border-box;
}

#Canvas .path.horizontal div {
    height: 33.3333333%;
    width: 100%;
}

#Canvas .path.vertical div {
    width: 33.3333333%;
    height: 100%;
}

.profilePic {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 35%;
    width: 35%;
    border-radius: 100%;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 2;
    background-size: cover;
    transition: all .5s ease-in-out;
}

.name {
    font-weight: bold;
    position: absolute;
    color: white;
    bottom: 0%;
    font-size: 16px;
}


.box_green .profilePic,
.box_yellow .profilePic {
    left: auto;
    right: -20px;
}


.box_blue .profilePic,
.box_yellow .profilePic {
    top: auto;
    bottom: -20px;
}

.box_red .name,
.box_blue .name {
    top: auto;
    top: 0%;
}


.message p,
.message img {
    color: #ecf0f1;
    padding: 4px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    background-color: black;
    border-radius: 4px;
    border: 1.5px black solid;
    left: 20%;
    top: -50px;
    z-index: 1;
    transition: all 0.4s ease-in-out;
    font-size: 16px;
    animation: bounceInRight 0.5s;
}


.message p:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -12px;
    top: -1px;
    bottom: auto;
    border: 10px solid;
    border-color: black transparent transparent transparent;
}


.message img {
    background-color: transparent;
    border: none;
    height: 60px;
}


#Canvas .box_green .message p,
#Canvas .box_green .message img,
#Canvas .box_yellow .message img,
#Canvas .box_yellow .message p {

    left: auto;
    right: 25%;
}

#Canvas .box_red .message p,
#Canvas .box_red .message img,
#Canvas .box_green .message img,
#Canvas .box_green .message p {
    animation: bounceInLeft 0.5s;
    left: 25%;
}



#Canvas .box_blue .message p,
#Canvas .box_blue .message img,
#Canvas .box_yellow .message img,
#Canvas .box_yellow .message p {
    bottom: -50px;
    top: auto;
}

#Canvas .box_red .message p:before,
#Canvas .box_green .message p:before {
    right: auto;
    left: -12px;
    top: auto;
    bottom: -2px;
    border-color: transparent transparent black transparent;
}

#Canvas .message div {
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    width: 50px;
    transition: all 0.2s ease-out;
    transform-origin: center;
}




.powerUp {
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 5;
    background-position: center;
}

.freeRoll {
    background-image: url("../images/powerUps/freeRoll.png");
}

.skipTurn {
    background-image: url("../images/powerUps/skipTurn.png");
}

.killAnyGotti {
    background-image: url("../images/powerUps/killAnyGotti.png");
}

.powerUps p {
    z-index: 1000;
    font-weight: normal;
    text-align: center;
    display: none;
    position: absolute;
    color: white;
    background-color: black;
    padding: 4px;
    border-radius: 8px;
    top: -10%;
    left: 0px;
    width: 240px;
    font-size: 14px;
    transform-origin: bottom left;
}

.timer {
    z-index: 4;
    position: relative;
}

.timer::after {
    z-index: 4;
    content: "";
    position: absolute;
    top: 84%;
    left: 0;
    height: 4px;
    width: 0%;
    background-color: red;
    animation: fillWidth 5s ease-in-out;
}


.box_blue .powerUps p,
.box_yellow .powerUps p {
    transform-origin: top left;
    bottom: -20%;
    top: auto;
}


.powerUps .powerUp:hover p {
    animation: fadeIn 0.5s ease-in-out;
    display: inline-block;
}


#Canvas .path .powerUp {
    position: absolute;
    top: 10%;
    background-color: transparent;
    border: none;
    z-index: 8;
    height: 78% !important;
    width: 78% !important;
}

#Canvas .path div p {
    display: none;
}

.tada {
    animation: tada 1s ease-in-out infinite;
}


.Gotti {
    z-index: 10;
    margin: auto !important;
    height: 78% !important;
    width: auto !important;
    cursor: pointer;
    animation: bounceIn 0.8s ease-in-out;
}


.useMe {
    animation: shake 1s ease-in-out infinite;
}

.roll {
    position: relative;
    font-size: 20px;
    color: #ecf0f1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.star {
    margin: auto !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    height: 82% !important;
    width: 82% !important;
}

.highLight {
    overflow: hidden;
    /* border: 3px black solid; */
    animation: heartBeat 1s ease-in-out infinite;
}

.highLight::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    opacity: .4;
    transform: scale(1.3);
}


.twoGotti .Gotti {
    height: 65% !important;
}

.multipleGotti .Gotti {
    height: 50% !important;
}

.hidden {
    display: none !important;
}

.properties {
    margin: 0 auto;
    position: relative;
    height: 100px;
    width: 600px;
    overflow-y: scroll;
    animation: bounceIn 1s ease-in-out;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); */
    padding: 10px;
    background: #ecf0f1;
    list-style: none;
    margin-top: 28px;
    border-radius: 20px;
    display: flex;
}

.properties li {
    font-size: 16px;
    padding: 4px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 4px;
    background: white;
    border-radius: 4px;
}

.colorWheel {
    top: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 50px solid #2ecc71;
    border-left: 50px solid #e74c3c;
    border-right: 50px solid #eabd43;
    border-bottom: 50px solid #3498db;
}

.properties .powerUps,
.properties .messages {
    z-index: 4;
    text-align: center;
    width: 40%;
    border-radius: 8px;
}


.properties .powerUps h2 {
    font-weight: lighter;
    padding: 0;
    margin: 0;
    margin-top: 6px;
}


.properties .powerUps .powerUp {
    margin-top: 10px;
    margin-right: 4px;
    cursor: pointer;
    z-index: 8;
    display: inline-block;
    border: 1px red solid;
    width: 32px;
    height: 32px;
    border-radius: 8px;
}

.properties .roll {
    overflow: hidden;
    border-radius: 8px;
    width: 20%;
}

.gif {
    position: absolute;
    top: -10%;
    margin: auto auto;
    z-index: 100;
    width: 98%;
    margin: auto;
    cursor: pointer;
}

.messages div {
    width: 100%;
    height: 50%;
}

.emojis img {
    cursor: pointer;
    margin: 2px;
    width: 33px;
    height: 33px;
}

.dm {
    position: relative;
}

.dm textarea {
    outline: none;
    font-size: 14px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 4px;
    height: 28px;
    width: 100%;
    resize: none;
}

.dm button {
    outline: none;
    position: absolute;
    border: none;
    right: -8px;
    top: -6px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}

.dm button i {
    color: #3498db;
    font-size: 32px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

.heartBeat {
    animation: heartBeat 1.2s ease-in-out infinite;
}

.hidden_gifs img {
    height: 20px;
    width: 20px;
    display: inline-block;
}