/* change this to vw and make it scale better */

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background-image: url("./bg.jpg"); */
    /* background-size: cover; */
}

#Canvas {
    padding-top: 7vh;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    width: 600px;
    height: 600px;

}

#startGameDialogue,
#endGameDialogue {
    animation: bounceIn 0.8s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin-top: 80px;
    padding: 80px;
    border-radius: 10%;
}

#startGameDialogue button,
#endGameDialogue button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
    font-size: 18px;
    cursor: pointer;
    background-color: white;
    border: none;
    outline: none;
    height: 40px;
    width: 200px;
    display: block;
    margin: 14px auto;
    border-radius: 12px;
    transition: all 0.2s ease-in-out;
    color: #0c2461;
}

#startGameDialogue button:hover,
#endGameDialogue button:hover {
    animation: 1s rubberBand ease;
    color: #ecf0f1;
    background-color: #0c2461;
}

#Canvas .box {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 40%;
    height: 40%;
}

#Canvas .path {
    box-sizing: border-box;
    width: 20%;
    height: 40%;
}

#Canvas .path.horizontal {
    width: 40% !important;
    height: 20% !important;
}

#Canvas .innerHome {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 20%;
    width: 20%;
    background-color: #ecf0f1;
}

.innerHome div {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 20%;
    margin: 0 auto;
}

.innerHome .mid {
    display: flex;
    flex-direction: row;
    height: 60%;
    width: 100%;
}

.innerHome .mid div {
    height: 100%;
    width: 20%;
    flex-direction: column;

}

.innerHome .mid div:nth-child(2) {
    width: 60%;
}

#Canvas .home {
    border: 1.5px black solid;
    position: relative;
    box-sizing: border-box;
    padding: 16%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 90%;
    border-radius: 50%;
    flex-wrap: wrap;
}

#Canvas .red {
    background-color: #e74c3c !important;
}

#Canvas .green {
    background-color: #2ecc71 !important;
}

#Canvas .blue {
    background-color: #3498db !important;
}

#Canvas .yellow {
    background-color: #eabd43 !important;
}

#Canvas .finalPath {
    background-color: #f8e2a5 !important;
}

#Canvas .home .inner_space {
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ecf0f1
}

#Canvas .path {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


#Canvas .path article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

#Canvas .path.vertical article {
    width: 100%;
    height: 16.67%;
    flex-direction: row;
}

#Canvas .path.horizontal article {
    height: 100%;
    width: 16.67%
}

#Canvas .path div {
    position: relative;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: #ecf0f1;
}

#Canvas .path.horizontal div {
    height: 33.34%;
    width: 100%;
}

#Canvas .path.vertical div {
    width: 33.34%;
    height: 100%;
}

.profilePic {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 70px;
    width: 70px;
    border-radius: 100%;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 2;
    background-image: url('./pp.jpg');
    background-size: cover;
    transition: all .5s ease-in-out;
}


.box_green .profilePic,
.box_yellow .profilePic {
    left: auto;
    right: -20px;
}

.box_blue .profilePic,
.box_yellow .profilePic {
    top: auto;
    bottom: -20px;
}


.powerUps {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 70%;
    top: 0;
    height: 38px;
    background-color: #ecf0f1;
    border-radius: 4px;
    border: 1.5px black solid;
    left: 60px;
    top: -20px;
    z-index: 1;
}

.box_green .powerUps,
.box_yellow .powerUps {
    left: auto;
    right: 60px;
}

.box_blue .powerUps,
.box_yellow .powerUps {
    bottom: -20px;
    top: auto;
}


.powerUps div {
    cursor: pointer;
    position: relative;
    height: 38px;
    box-sizing: border-box;
    width: 38px;
    transition: all 0.2s ease-out;
    transform-origin: center;
}

.tada {
    animation: tada 1s infinite ease-in-out;
}

.powerUps div:hover {
    transform: scale(1.2)
}

.powerUp {
    background-size: cover;
}

.freeRoll {
    background-image: url("./freeRoll.png");
}

.skipTurn {
    background-image: url("./skipTurn.png");
}

.powerUps p {
    z-index: 1000;
    font-weight: normal;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
    position: absolute;
    background-color: #ecf0f1;
    padding: 4px;
    border-radius: 8px;
    top: -45px;
    left: 0px;
    width: 240px;
    font-size: 15px;
    transform-origin: bottom left;
}


.box_blue .powerUps p,
.box_yellow .powerUps p {
    transform-origin: top left;
    bottom: -45px;
    top: auto;
}


.powerUps .powerUp:hover p {
    animation: fadeIn 1s ease-in-out;
    display: inline-block;
}


#Canvas .path div div {
    position: fixed;
    background-color: transparent;
    border: none;
    z-index: 8;
    display: inline-block;
    margin: auto !important;
    height: 36px !important;
    width: 36px !important;
}

#Canvas .path div p {
    display: none;
}



.Gotti {
    z-index: 10;
    margin: auto !important;
    height: 36px !important;
    width: auto !important;
    cursor: pointer;
    animation: bounceIn 0.8s ease-in-out;
}


.useMe {
    animation: shake 1s ease-in-out infinite;
}

.roll {
    font-size: 20px;
    color: #ecf0f1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.star {
    margin: auto !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    height: 36px !important;
    width: 36px !important;
}

.highLight {
    overflow: hidden;
    /* border: 3px black solid; */
    animation: heartBeat 1s ease-in-out infinite;
}

.highLight::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    opacity: .4;
    transform: scale(1.3);
}


.twoGotti .Gotti {
    height: 34px !important;
}

.multipleGotti .Gotti {
    height: 20px !important;
}

.hidden {
    display: none !important;
}